#logo { 
    color:#484848;
;
}
#navbar {
    color:#484848 ;
}
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 120px;
}

.hero-left h1 {
    font-size: 55px;
    font-weight: 700;
    line-height: 1.2;
    color: #1a1a1a;
}

.hero-left h1 span {
    color: #1a73e8;
    border-bottom: 4px solid #1a73e8;
}
.upperdiv {
    font-size: 14px;
    font-weight: 700;
    color: #666;
}
.lowerdiv {
    font-size: 15px;
    font-weight: 500;
    color: #333;
}
.search-box {
    background: #ffffff;
    border-radius: 60px;
    box-shadow: 0 10px 35px rgba(0,0,0,0.07);
    padding: 25px 35px;
    margin-top: -35px;
    position: relative;
    z-index: 20;
}
.hero-title {
    font-size: 52px;
    font-weight: 800;
    line-height: 1.2;
    color: #0b1c39;
}
.hero-title span {
    color: #226CE0;
}
.hero-sub {
    font-size: 17px;
    color: #555;
    margin-top: 15px;
}
#audi  {
    margin-left: -100px;
}

.hero-section { padding: 60px 0; }
.app-image { max-width: 100%; }
.phone-frame { width: 100%; }
@media (max-width: 768px) {
.hero-text { text-align: center; }
.store-buttons { justify-content: center !important; }
}
.footer {
    background: #0b1c39;
    color: #ffffff;
    padding: 60px 0;
}
.footer h5 {
    font-weight: 700;
}
.footer a {
    color: #ddd;
    text-decoration: none;
    display: block;
    margin-bottom: 8px;
    transition: 0.3s;
}
.footer a:hover {
    color: #fff;
}
.footer-bottom {
    background: #071125;
    padding: 18px 0;
    color: #aaa;
    text-align: center;
}